@import "breakpoints";
@import "menu-btn";
@import "menu-top";
@import "menu";

.hide-at-mobile {
  display: none;
}
@include header-tablet {
  .hide-at-mobile {
    display: initial;
  }
  .header_top {
    display: none;
  }
  .menu-container {
    max-height: none;
    overflow: initial;
  }
  .header_menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    .menu-item {
      background-color: white;
      border: none;
    }
  }
}
