.menu-btn {
  width: 26px;
  height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
  overflow: hidden;
  //border for testing
  //border: 1px solid lime;
  .line {
    background-color: $color-secondary;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease-in;
    transform-origin: top left;
    border: 0;
  }
  .line2 {
    opacity: 1;
  }
  &.opened {
    $deg: 43.5deg;
    .line1 {
      transform: rotate($deg);
    }
    .line2 {
      transform: translateX(100%);
      opacity: 0;
    }
    .line3 {
      transform: rotate(-$deg);
      transform-origin: bottom left;
    }
  }
}
