.menu-container {
  max-height: 0;
  transition: all 0.3s linear;
  overflow: hidden;
}
.header_menu {
  color: white;
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 1rem;
    border-top: 1px solid rgba(150, 150, 150, 0.15);
  }
  li li {
    .menu-item {
      padding-left: 2rem;
    }
  }
  .sub-menu {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s linear;
  }
  .arrow {
    width: 10px;
    fill: white;
    transition: all 0.3s linear;
  }
  .arrow-rotate {
    .arrow {
      transform: rotate(-180deg);
    }
  }
}
